// *****************
// Global Variables
// *****************

// Spaces
$base-spacing-unit: .625rem;

// Border radius
$global-radius: 1rem;

// Transition
$global-transition: all 0.35s;

// *****************
// Typography
// *****************
$base-font-size: 1.125rem;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: normal;
$base-font-family:
    "Inter",
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
$base-line-height: 1.8;

// Headings
$heading-font-weight: 900;
$heading-font-family:
    "Inter",
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;

$font-size-h1: 2.25rem;
$font-size-h2: 1.75rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.25rem;
$font-size-h5: 1.125rem;
$font-size-h6: 1rem;

$heading-line-height: 1.2;
$heading-letter-spacing: -0.0625rem;

