/* Color Scheme */
$blue-950: #080f2d;
$blue-900: #0c1a41;
$blue-850: #0e2358;
$blue-800: #0f2d70;
$blue-750: #0f3888;
$blue-700: #1343a0;
$blue-650: #184eb8;
$blue-600: #1d59d0;
$blue-550: #2060df;
$blue-500: #3c71f7;
$blue-450: #5c7ef8;
$blue-400: #748bf8;
$blue-350: #8999f9;
$blue-300: #9ca7fa;
$blue-250: #aeb5fb;
$blue-200: #bfc3fa;
$blue-150: #d0d2fa;
$blue-100: #e0e1fa;
$blue-50: #f0f0fb;
$blue: $blue-550;

