/* Footer */
.footer {
    position: relative;
    margin-top: 2.75rem;
    padding: 6rem 0 3.75rem;
    overflow: hidden;
    background: $blue-400;

    .social {
        margin-bottom: 2.5rem;

        .social__item {
            margin: 0 .125rem;
            font-size: 0;
        }

        .social__link {
            display: inline-block;
            width: 2.5rem;
            height: 2.5rem;
            line-height: 2.5rem;
            font-size: 1rem;
            border-radius: 50%;
            color: $blue-650;
            background: $white;
            transition: all 0.25s;
            will-change: transform;

            &:hover {
                transform: scale(0.9);
                color: $blue-650;

                &::after {
                    content: none;
                }
            }

            &::after {
                content: none;
            }
        }
    }

    .footer_nav {
        text-align: center;

        .footer_nav__item {
            display: inline;
            margin: 0 1.5rem;
            font-size: 0;
        }

        .footer_nav__link {
            font-size: 1rem;
            font-weight: 600;
            color: $white;
        }
    }

    @media only screen and (max-width: $desktop) {
        padding: 5rem 0 3.75rem;
    }

    @media only screen and (max-width: $mobile) {
        margin-top: 1.875rem;
        padding: 3.75rem 0;

        .footer_nav {
            .footer_nav__item {
                margin: 0 .75rem;
            }
        }
    }
}

/* Copyright */
.copyright {
    margin-top: 1.25rem;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    color: rgba($white, 0.7);

    p {
        margin: 0;
    }

    a {
        font-weight: 500;
        color: $white;
    }

    @media only screen and (max-width: $mobile) {
        font-size: .875rem;
    }
}