/* Pagination */
.pagination__inner {
    margin: 2.5rem 0 2.75rem;
}

.pagination__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__prev,
.pagination__count,
.pagination__next {
    padding: 1rem 1.25rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1rem;
    border-radius: 1rem;
    box-shadow: 0rem 0rem .125rem rgba(0, 0, 0, 0.07);
    background-color: $white;

    @media only screen and (max-width: $mobile) {
        padding: 1rem;
    }
}

.pagination__prev,
.pagination__next {
    font-size: .875rem;
    will-change: transform;

    &.disabled {
        color: rgba($blue-950, 0.4);

        &:hover {
            i {
                transform: none;
            }
        }
    }
}

.pagination__prev {
    &:hover {
        i {
            transform: translateX(-0.0625rem);
        }
    }

    i {
        margin-right: .125rem;
        transition: 0.2s;
    }
}

.pagination__next {
    &:hover {
        i {
            transform: translateX(.0625rem);
        }
    }

    i {
        margin-left: .125rem;
        transition: 0.2s;
    }
}

.pagination__count {
    margin: 0 .375rem;
    font-size: .9375rem;
    font-weight: 600;
    color: rgba($blue-950, 0.7);
}