/* Container for search elements */
#search-container {
		transform: scale(0.5) translateY(-2.75rem);
		opacity: 0;
		transition: var(--transition);
		padding: 0 0.5rem 0;
		height: 0;
		pointer-events: none;

		&.active {
			transform: none;
			opacity: 1;
			padding: 0 0.5rem 0.5rem;
			height: 2.75rem;
			pointer-events: all;
		}
	}

	#search-bar {
		box-shadow: var(--edge-highlight);
		border: none;
		border-radius: 999px;
		background: var(--fg-muted-1);
		padding: 0 0.75rem;
		width: 100%;
		height: 2.25rem;
		color: inherit;
		font-size: var(--font-size-medium);

		&::placeholder {
			opacity: 1;
			color: var(--fg-muted-4);
		}
	}

	#search-results-container {
		-webkit-backdrop-filter: var(--blur);
		display: flex;
		position: absolute;
		backdrop-filter: var(--blur);
		inset-block-start: calc(100% + 0.5rem);
		inset-inline-start: 0;
		box-shadow: var(--edge-highlight), var(--shadow-glass);
		border-radius: calc(var(--rounded-corner) + 0.5rem);
		background-color: var(--glass-bg);
		width: 100%;
		max-height: 50vh;
	}

	#search-results {
		--mask: linear-gradient(to bottom,
				transparent,
				black 1rem,
				black calc(100% - 1rem),
				transparent);
		-webkit-mask-image: var(--mask);
		display: none;
		flex: 1;
		flex-direction: column;
		gap: 0.5rem;
		mask-image: var(--mask);
		padding: 0.5rem;
		overflow: auto;

		.item {
			display: inline-flex;
			flex-direction: column;
			box-shadow: var(--edge-highlight);
			border-radius: var(--rounded-corner);
			background-color: var(--fg-muted-1);
			padding: 0.5rem;

			a {
				width: fit-content;

				&::after {
					content: " →";

					:root[dir*="rtl"] & {
						content: " ←";
					}
				}
			}

			span {
				color: var(--fg-muted-5);

				&:first-of-type,
				&.more-matches {
					margin-block-start: 0.5rem;
					border-block-start: max(1px, 0.0625rem) solid var(--fg-muted-2);
					padding-block-start: 0.25rem;
				}

				&.more-matches {
					font-size: var(--font-size-small);
				}

				strong {
					color: var(--fg-color);
				}
			}
		}
	}
