/* Content */
.page {
    max-width: 48.75rem;
    margin: 0 auto 3.75rem;

    a {
        font-weight: 500;
        border-bottom: .0625rem solid $border-color;

        &:hover {
            color: $link-color;
            border-bottom-color: $link-color-hover;
        }
    }
}