/* Page Heading */
.c-page-heading {
    max-width: 48.75rem;
    margin: 0 auto;
    padding: 6rem 0 3.75rem;
    text-align: center;

    @media only screen and (max-width: $desktop) {
        padding: 5rem 0 3.75rem;
    }

    @media only screen and (max-width: $tablet) {
        padding: 2.5rem 0;
    }

    @media only screen and (max-width: $mobile) {
        padding: 1.875rem 0;
    }

    &__title {
        margin: 0;
        font-size: 3.625rem;
        line-height: 1.12;

        @media only screen and (max-width: $tablet) {
            font-size: 2.25rem;
        }

        @media only screen and (max-width: $mobile) {
            font-size: 2rem;
        }
    }

    &__description {
        margin: 1.875rem auto 0;
        max-width: 35rem;
        line-height: 1.6;

        @media only screen and (max-width: $mobile) {
            margin: 1.5rem auto 0;
        }
    }
}