.tab-link {
    cursor: pointer;
    transition: all 0.3s;
}
.tab-link:hover {
    background-color: rgba(0,0,0,0.05);
}
.tab-pane {
    display: none;
    color: none;
    border-bottom: rgb(20, 149, 167) solid 2px;
}
.tab-pane.hidden {
    color: none;
    display: block;
}