{% component ui.content_blocks(data: array) %}
{% for block in data %}
    {% if block.block == "blog-card" %}
        {{<ui.blog_card data=block />}}
    {% elif block.block == "blog-section" %}
        {{<ui.blog_section data=block />}}
    {% elif block.block == "content" %}
        {{<ui.content content_html=block.content_html or "" content_md=block.content_md or "" />}}
    {% elif block.block == "hero" %}
        {{<ui.hero data=block />}}
    {% elif block.block == "newsletter" %}
        {{<ui.newsletter config=block />}}
    {% elif block.block == "page-heading" %}
        {{<ui.page_heading taxonomies=block.taxonomies or false title=block.title description=block.description or false />}}
    {% elif block.block == "page-image" %}
        {{<ui.page_image image=block.image image_alt=block.image_alt />}}
    {% elif block.block == "pagination" %}
        {{<ui.pagination data=block />}}
    {% elif block.block == "posts-list" %}
        {{<ui.posts_list data=block />}}
    {% elif block.block == "tags-list" %}
        {{<ui.tags_list data=block />}}
    {% endif %}
{% endfor %}
{% endcomponent ui.content_blocks %}
